<header>
  <h2>News ed Eventi</h2>
</header>
<ul class="style">
  <li>
    <p class="posted">Dal 21/01/2019 al 18/03/2019</p>
    <img src="assets/RassegnaSmall.jpg" />
    <p class="text"><b>LA RAMPA</b> Rassegna cinematografica <br>
      Teatro SANBAPOLIS E PALAZZO DELLE ALBERE<br>
      Trento<br>
      Clikka <a href="speciale.html">QUI</a> per maggiori informazioni
  </li>
  <li>
    <p class="posted">Visita Guidata - Sabato 05/01/2019</p>
    <div><img src="assets/Berdellotto.jpg" /></div>
    <div style="clear:both;" class="text">&egrave; possibile prenotare la visita guidata con il collezionista
      <b>Luigi Bardellotto</b> per il giorno <b>SABATO 5 GENNAIO:</b> ore <b>11.00</b> - ore <b>15.00</b> -
      ore <b>17.00</b> <br />
      <b>Contattare il MuSe o Tiziano Giongo:</b> <br /> 393 2203962. <br />
      Vi aspettiamo. <br />
      Hasta lluego</div>
  </li>
  <li>
    <p class="posted">Aleida Guevara - 11/12/2018</p>
    <img src="assets/CubaFlag.png" style="width: 70px;" />
    <p class="text">Martedì 11 dicembre,ore 20.00,incontro con
      Aleida Guevara March “Cuba, ieri oggi e domani:continuit&agrave; nel cambiamento"</p>
  </li>
  <li>
    <p class="posted">24 Novembre 2018</p>
    <img src="assets/cartello.jpg" alt="" />
    <p class="text">Mostra "60 anni di grafica rivoluzionaria" al Palazzo delle Albere. Inaugurazione ore
      17.30.</p>
  </li>
  <li>
    <p class="posted">20 Anni di noi</p>
    <div><img src="assets/anni.jpg" /></div>
    <p class="text">Quest'anno si festeggiano i 20 anni dalla nascita di Filorosso.</p>
  </li>

</ul>