<div id="featured">
  <div class="container">
    <div class="row">
      <div class="4u">
        <h2>ALEIDA GUEVARA - 2017</h2>
        <a href="#" class="image full"><img src="assets/aleida.jpg" alt="" /></a>
        <p>Video TGR dell'incontro con Aleida Guevara, figlia di Ernesto Che Guevara.</p>
        <p><a [routerLink]="['/media']" class="button">GUARDA</a></p>
      </div>
      <div class="4u">
        <h2>MOSTRA FOTOGRAFICA</h2>
        <a href="#" class="image full"><img src="assets/mostra.jpg" alt="" /></a>
        <p>Mostra fotografica, 60 anni di grafica rivoluzionaria al palazzo delle Albere, Trento.</p>
        <p><a [routerLink]="['/speciale']" class="button">Dettagli</a></p>
      </div>
      <div class="4u">
        <h2>ALEIDA GUEVARA - 2018</h2>
        <a href="#" class="image full"><img src="assets/aleida2018.jpg" alt="" /></a>
        <p>Martedì 11 dicembre,ore 20.00,incontro con Aleida Guevara March “Cuba, ieri oggi e domani: continuit&agrave;
          nel cambiamento"</p>
        <p><a [routerLink]="['/media']"  class="button">Dettagli</a></p>
      </div>
    </div>
  </div>
</div>