<div id="main">
  <div class="container">
    <div class="row"> 

      <!-- Content -->
      <div id="content" class="12u skel-cell-important">
        <section>
          <header>
            <h2>Iniziative</h2>
          </header>
            <div class="row">
              <div class="8u">
                <ul style="font-size:20px; line-height:400%"> 
                  <li><strong><img src="images/new.jpg" />&nbsp; <a href="speciale.html">Vai allo speciale sulla mostra "Cartel Cubano"</a></strong></li>
                  <li><strong><img src="images/Ecuador-icon.png" />&nbsp; <a href="materiale/equador.pdf">Iniziative in Equador</a></strong></li>
                  <li><strong><img src="images/Cuba-icon.png" />&nbsp; <a href="materiale/cuba.pdf">Iniziative a Cuba</a></strong></li>
                  <li><strong><img src="images/Uruguay-icon.png" />&nbsp; <a href="materiale/uruguay.pdf">Iniziative in Uruguay</a></strong></li>
                  <li><strong><img src="images/Bulgaria-icon.png" />&nbsp; <a href="materiale/bulgaria.pdf">Iniziative in Bulgaria</a></strong></li>
                  <li><strong><img src="images/Cuba-icon.png" />&nbsp; <a href="materiale/locandina.pdf">Locandina dell'incontro con Aleida Guevara - 2017</a></strong></li>
                </ul>
              </div>
            </div>
        
        </section>
      </div>
      
                
    </div>
  </div>
</div>