<div id="main">
  <div class="container">
    <div class="row"> 
      
      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section>
          <header>
            <h2>Cos'&egrave; e come nasce </h2>
            <span class="byline"></span>
          </header>
          <a href="#" width="500" height="100"><img src="images/logo.png" alt="" style="width: 80%;" /></a>
          <br><br><br><p style="font-size:20px"><strong>FILOROSSO</strong> &egrave; un’associazione che opera da anni nel campo 
            della Cooperazione internazionale con Equador, Bulgaria, Cuba e Uruguay, con azioni proprie, con contributi 
            da privati cittadini e da Enti pubblici.</p>
           <p style="font-size:20px">La Cooperazione e la Solidariet&agrave; fra i popoli della terra, così diversi ma 
            uniti dalla stessa umanit&agrave;, &egrave; la strada per uno sviluppo equo che permetta a tutti una vita degna di 
            essere chiamata tale. Le nostre azioni nascono e si realizzano nell’ottica dell’”attraversamento culturale” 
            paritario e di reciproco rispetto. </p>
           <p style="font-size:20px">Anche il nostro logo vuole rappresentare un simbolico filo che percorre, 
            attraversa e unisce storie diverse.</p>
           <p style="font-size:20px">	<a href="materiale/statuto.pdf"><i class="fas fa-file-pdf"></i>2003</a> 
            Scarica lo statuto in formato pdf </p>
           <br><br><p style="font-size:22px"><strong>Paesi d'intervento:</strong></p>
           <p style="font-size:20px">Cuba, Equador, Bulgaria, Uruguay.</p>
           <br><br><p style="font-size:22px"><strong>Cooperazioni e sponsor:</strong></p>
           <a href="#" class="image full"><img src="images/sponsor.jpg" alt="" /></a>
          
        </section>
      </div>
      
      <!-- Sidebar -->
      <div id="sidebar" class="4u">
        <section>
          <header>
            <h2>News ed Eventi</h2>
          </header>
          <ul class="style">
            <li>
              <p class="posted">Dal 21/01/2019 al 18/03/2019</p>
              <img src="images/RassegnaSmall.jpg" />
              <p class="text"><b>LA RAMPA</b> Rassegna cinematografica <br>
              Teatro SANBAPOLIS E PALAZZO DELLE ALBERE<br>
              Trento<br>
              Clikka <a href="speciale.html">QUI</a> per maggiori informazioni
            </li>
              <li>
              <p class="posted">Visita Guidata - Sabato 05/01/2019</p>
              <div><img src="images/Berdellotto.jpg" /></div>
              <div style="clear:both;" class="text">&egrave; possibile prenotare la visita guidata con il collezionista 
              <b>Luigi Bardellotto</b> per il giorno <b>SABATO 5 GENNAIO:</b> ore <b>11.00</b> - ore <b>15.00</b> - ore <b>17.00</b> <br />
              <b>Contattare il MuSe o Tiziano Giongo:</b> <br /> 393 2203962. <br />
              Vi aspettiamo. <br />
              Hasta lluego</div>
            </li>					
              <li>
              <p class="posted">Aleida Guevara - 11/12/2018</p>
              <img src="images/CubaFlag.png" style="width: 70px;" />
              <p class="text">Martedì 11 dicembre,ore 20.00,incontro con 
              Aleida Guevara March “Cuba, ieri oggi e domani:continuit&agrave; nel cambiamento"</p>
            </li>
            <li>
              <p class="posted">24 Novembre 2018</p>
              <img src="images/cartello.jpg" alt="" />
              <p class="text">Mostra "60 anni di grafica rivoluzionaria" al Palazzo delle Albere. Inaugurazione ore 17.30.</p>
            </li>
            <li>
              <p class="posted">20 Anni di noi</p>
              <div><img src="images/anni.jpg" /></div>
              <p class="text">Quest'anno si festeggiano i 20 anni dalla nascita di Filorosso.</p>
            </li>
            
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div id="featured">
  <div class="container">
    <div class="row">
      <div class="4u">
        <h2>ALEIDA GUEVARA - 2017</h2>
        <a href="#" class="image full"><img src="images/aleida.jpg" alt="" /></a>
        <p>Video TGR dell'incontro con Aleida Guevara, figlia di Ernesto Che Guevara.</p>
        <p><a href="media.html" class="button">GUARDA</a></p>
      </div>
      <div class="4u">
        <h2>MOSTRA FOTOGRAFICA</h2>
        <a href="#" class="image full"><img src="images/mostra.jpg" alt="" /></a>
        <p>Mostra fotografica, 60 anni di grafica rivoluzionaria al palazzo delle Albere, Trento.</p>
        <p><a href="speciale.html" class="button">Dettagli</a></p>
      </div>
      <div class="4u">
        <h2>ALEIDA GUEVARA - 2018</h2>
        <a href="#" class="image full"><img src="images/aleida2018.jpg" alt="" /></a>
        <p>Martedì 11 dicembre,ore 20.00,incontro con Aleida Guevara March “Cuba, ieri oggi e domani: continuit&agrave; nel cambiamento"</p>
        <p><a href="media.html" class="button">Dettagli</a></p>
      </div>
    </div>
  </div>
</div>