<div id="main">
  <div class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="8u skel-cell-important">
        <section>
          <header>
            <h2>Cos'&egrave; e come nasce </h2>
            <span class="byline"></span>
          </header>
          <a href="#" width="500" height="100"><img src="assets/logo.png" alt="" style="width: 80%;" /></a>
          <br><br><br>
          <p style="font-size:20px"><strong>FILOROSSO</strong> &egrave; un’associazione che opera da anni nel campo
            della Cooperazione internazionale con Equador, Bulgaria, Cuba e Uruguay, con azioni proprie, con contributi
            da privati cittadini e da Enti pubblici.</p>
          <p style="font-size:20px">La Cooperazione e la Solidariet&agrave; fra i popoli della terra, così diversi ma
            uniti dalla stessa umanit&agrave;, &egrave; la strada per uno sviluppo equo che permetta a tutti una vita
            degna di
            essere chiamata tale. Le nostre azioni nascono e si realizzano nell’ottica dell’”attraversamento culturale”
            paritario e di reciproco rispetto. </p>
          <p style="font-size:20px">Anche il nostro logo vuole rappresentare un simbolico filo che percorre,
            attraversa e unisce storie diverse.</p>
          <p style="font-size:20px"> <a href="materiale/statuto.pdf"><i class="fas fa-file-pdf"></i>
              Scarica lo statuto in formato pdf </a></p>
          <br><br>
          <p style="font-size:22px"><strong>Paesi d'intervento:</strong></p>
          <p style="font-size:20px">Cuba, Equador, Bulgaria, Uruguay.</p>
          <br><br>
          <p style="font-size:22px"><strong>Cooperazioni e sponsor:</strong></p>
          <a href="#" class="image full"><img src="assets/sponsor.jpg" alt="" /></a>

        </section>
      </div>

      <!-- Sidebar -->
      <div id="sidebar" class="4u">
        <section>
          <app-news></app-news>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>