<div id="main">
  <div class="container">
    <div class="row">

      <!-- Content -->
      <div id="content" class="12u skel-cell-important">
        <section>
          <header>
            <h2>Consiglio direttivo</h2>
          </header>

          <ul style="font-size:20px; line-height:150%">
            <li><strong>Presidente:</strong><br> Guido Gasperotti</li>
            <li><strong>Progetti cooperazione internazionale:</strong><br> Gianni Visentin, Marco Sighel, Raffaella
              Lenzi</li>
            <li><strong>Segretario organizzativo:</strong><br> Tiziano Giongo</li>
          </ul>

          <header>
            <h2>Statuto</h2>
          </header>
          <ul style="font-size:20px">
            <li><a href="materiale/statuto.pdf"><i class="fas fa-file-pdf"></i></a> Scarica lo statuto in formato pdf</li>
          </ul>

          <header>
            <h2>Contatti</h2>
          </header>
          <ul style="font-size:20px; line-height:150%">
            <li><strong><a href="afilorosso@yahoo.it"><i class="far fa-envelope"></i></a> Email:</strong>afilorosso@yahoo.it</li>
            <li><strong><i class="fas fa-phone"></i> Telefono:</strong> 0461.24.20.73 </li>
          </ul>

          <p style="font-size:20px">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffilorossoonlus%2F%3Fepa%3DSEARCH_BOX&tabs=diario&width=340&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
              width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true" allow="encrypted-media">
            </iframe>
          </p>
        </section>
      </div>


    </div>
  </div>
</div>